{% extends "skeleton.html" %}

{% block title %}About{% endblock %}

{% block main %}
<section class="hero">
    <div class="hero-body">
	<div class="container">
	    <h1 class="title">
		Author
	    </h1>
	    <h2 class="subtitle">
		Tristan Kernan
	    </h2>
	</div>
    </div>
</section>
<hr>
<section class="hero">
    <div class="hero-body">
	<div class="container">
	    <h1 class="title">
		Licenses
	    </h1>
	    <h2 class="subtitle">
		The source code is licensed
		<a href="https://www.gnu.org/licenses/gpl.html">GPL</a>. The website content
		is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. You can find the source on <a href="https://github.com/russon77/filebin">github</a>.
	    </h2>
	</div>
    </div>
</section>
<hr>
<section class="hero">
    <div class="hero-body">
	<div class="container">
	    <h1 class="title">
		Made With
	    </h1>
	    <h2 class="subtitle">
		<a href="https://bulma.io/">Bulma</a>
		&bull;
		<a href="https://fontawesome.com/v4.7.0/">Font Awesome</a>
		&bull;
		<a href="https://jquery.com/">jQuery</a>
		&bull;
		<a href="https://www.python.org/">Python 3</a>
		&bull;
		<a href="http://flask.pocoo.org/">Flask</a>
		&bull;
		<a href="https://www.gimp.org/">GIMP</a>
		&bull;
		<a href="https://www.nltk.org/">NLTK</a>
		&bull;
		<a href="https://wordnet.princeton.edu/">WordNet</a>
	    </h2>
	</div>
    </div>
</section>
<hr>
<section class="hero">
    <div class="hero-body">
	<div class="container">
	    <h1 class="title">
		Attributions
	    </h1>
	    <h2 class="subtitle">
		Pigeon icon made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
	    </h2>
	</div>
    </div>
</section>
{% endblock %}
