{% extends "skeleton.html" %}

{% block title %}File Pigeon{% endblock %}

{% block main %}
<div class="container my-1 flexify-me">
    <div class="columns">
	<div class="column">
            <article class="message is-danger is-hidden" id="files-deleted-message">
		<div class="message-header">
                    <p>Files Deleted</p>
		</div>
		<div class="message-body">
		    This bin has been <strong>removed</strong>. Bins expire after <strong>10 minutes</strong>.
		</div>
            </article>
            <nav class="panel">
		<p class="panel-heading">
		    <span>Bin <strong>{{ meta.code }}</strong></span>
		</p>
		<div class="panel-block">
                    <p>
			{{ files | length }} file(s) &bull;
			{{ meta.total_size | formatsize }} &bull;
			<span id="countdown">... left</span>
                    </p>
		</div>
		{% for file in files %}
		<a class="panel-block" href="{{ url_for('uploaded_file', code=meta.code, filename=file.name) }}">
                    <span class="panel-icon">
			<i class="fa fa-download"></i>
                    </span>
                    <span class="" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
			{{ file.name }}
                    </span>
                    <span class="is-size-7" style="margin-left: auto;">
			{{ file.size | formatsize }}
                    </span>
		</a>
		{% endfor %}
		<a class="panel-block" href="{{ url_for('uploaded_archive', code=meta.code) }}">
                    <span class="panel-icon">
			<i class="fa fa-archive"></i>
                    </span>
                    <span style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
			zip archive
                    </span>
		    <span class="is-size-7" style="margin-left: auto;">
			~{{ meta.total_size | formatsize }}
                    </span>
		</a>	    
            </nav>
	</div>
	<div class="column">
            <article class="message is-info">
		<div class="message-header">
                    <p>Instructions</p>
		</div>
		<div class="message-body">
                    Download individual files or a zip archive here. To share, visit this site in another browser and enter the code <strong>{{ meta.code }}</strong>. Alternatively,
                    copy <a href="{{ url_for('filebin', code=meta.code) }}">this link</a> by right clicking and selecting
                    "copy link location."
		</div>
            </article>
            <article class="message">
		<div class="message-header">
                    <p>
			Definition for <em>{{ meta.code | title }}</em>
                    </p>
                    <a class="button is-small" href="https://en.wiktionary.org/wiki/{{ meta.code }}"
                       title="Wiktionary">
			<span class="icon is-small">
                            <i class="fa fa-wikipedia-w"></i>
			</span>
                    </a>
		</div>
		<div class="message-body">
                    {{ meta.definition }}
		</div>
            </article>
	</div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script>
 // expiration in ms
 var expiration = {{ meta.expiration_timestamp_utc }} * 1000;

 var intervalID = setInterval(update_time_remaining, 500);

 function update_time_remaining() {
     // remaining in s
     var remaining = Math.floor((expiration - Date.now()) / 1000);
     var text = '';

     if (remaining > 0) {
         var seconds = remaining % 60;
         var minutes = Math.floor(remaining / 60);

         text = '' + minutes + ':';

         if (seconds < 10) {
             text += '0';
         }

         text += seconds + ' left';
     } else {
         text = 'Files deleted!';

	 $('#files-deleted-message').removeClass('is-hidden');

	 clearInterval(intervalID);
     }

     $('#countdown').text(text);
 }
</script>
{% endblock %}
